.main__login {
    background-color: #fdf0d5;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.login__login_form {

    min-width: 20%;
    aspect-ratio: 1/1;
    background-color: #fb8500;
    border-radius: 10%;
    border: 2px solid #ffb703;
    padding: 2em;
    row-gap: 2em;

    display: flex;
    flex-direction: column;

}

.login__login_form-error {
    border: 2px solid #780000;
}

.login_form__error {
    position: absolute;
    color: #780000;
}