/* Estilos generales */
.formulario {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #63797F;
    border-radius: 10px;
}

.formulario h2, .formulario h3 {
    text-align: center;
    color: #33691D;
    margin-bottom: 10px;
}

.formulario div {
    margin-bottom: 15px;
}

.container-main h1 {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #33691D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

button:hover {
    background-color: #285417;
}
