/* ======================= */
/* FORMULARIO DE CONTACTO */
/* ======================= */

.formulario-contacto {
    max-width: 600px;
    margin: 50px auto;
    background: #D9D9D9; /* Fondo suave */
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #33691D;
    font-size: 2.5rem;
}

h2 {
    text-align: center;
    color: #33691D;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    resize: none;
}

button {
    width: 100%;
    background-color: #33691D;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8BC24A;
}

/* ======================= */
/* RESPONSIVE */
/* ======================= */

@media screen and (max-width: 768px) {
    .formulario-contacto {
        width: 90%;
    }
}
